{
  "singleQuote": false,
  "printWidth": 80,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "no-multiple-empty-lines": [
    "error",
    {
      "max": 1,
      "maxEOF": 1
    }
  ]
}
